//Llamado del modulo colores para utilizar los colores de la libreria
@use 'colores';
//Declaracion de las variables borde (tamaño del borde) tipo (tipo de borde en este caso solid)
$borde: 7px;
$tipo: solid;

.b-r1{
    border-image: colores.$rgb-1 1;
    border-style: $tipo;
    border-width: $borde;
}

.b-r2{
    border-image: colores.$rgb-2 1;
    border-style: $tipo;
    border-width: $borde;
}

.b-r3{
    border-image: colores.$rgb-3 1;
    border-style: $tipo;
    border-width: $borde;
}

.b-r4{
    border-image: colores.$rgb-4 1;
    border-style: $tipo;
    border-width: $borde;
}

.b-r5{
    border-image: colores.$rgb-5 1;
    border-style: $tipo;
    border-width: $borde;
}

.b-p{
    border: colores.$primario $borde $tipo;
}

.b-s{
    border: colores.$secundario $borde $tipo;
}

.b-t{
    border: colores.$terciario $borde $tipo;
}

.b-e{
    border: colores.$exito $borde $tipo;
}

.b-p{
    border: colores.$peligro $borde $tipo;
}

.b-a{
    border: colores.$advertencia $borde $tipo;
} 

.b-i{
    border: colores.$informacion $borde $tipo;
} 

.b-c{
    border: colores.$claro $borde $tipo;
} 

.b-o{
    border: colores.$oscuro $borde $tipo;
} 