@use 'colores' as *;
$size-1: 15px;
$size-2: 30px;
$size-3: 45px;
$size-4: 60px;
$size-5: 75px;

body{
    background-color: $primario;
}
//sf = Tamaño de la fuente
.sf-1{
    font-size: $size-1;
}
.sf-2{
    font-size: $size-2;
}
.sf-3{
    font-size: $size-3;
}
.sf-4{
    font-size: $size-4;
}
.sf-5{
    font-size: $size-5;
}
//gf = Grosor de la fuente
.gf{
    font-weight: bold;
}

.color-font-primario{
    color: $primario;
}
.color-font-secundario{
    color: $secundario;
}
.color-font-terceario{
    color: $terciario;
}
.color-font-exito{
    color: $exito;
}
.color-font-peligro{
    color: $peligro;
}
.color-font-advertencia{
    color: $advertencia;
}
.color-font-informacion{
    color: $informacion;
}
.color-font-claro{
    color: $claro;
}
.color-font-oscuro{
    color: $oscuro;
}
//ttxt = Tipo de texto o funte 
.ttxt-Arial{
    font-family: Arial;
}
.ttxt-Calibri{
    font-family: Calibri;
}
.ttxt-GillSans{
    font-family: 'Gill Sans';
}
.ttxt-Verdana{
    font-family: Verdana;
}
.ttxt-Times{
    font-family:Times;
}
