@use '_colores' as * ;

$color: rgb(185, 180, 180);
$shadow-1:10px 5px 5px $oscuro ;
$shadow-2: inset 4px 4px 4px 0 rgba(20, 20, 20, 0.2);
$shadow-superior:-25px -25px 10px $oscuro;
$shadow-inferior:25px 25px 10px $oscuro;
$shadow-rgb1:2px 2px 8px 0 rgb(209, 102, 221), 4px 4px 16px 0 #d66, 0px 0px 24px 2px rgb(221, 197, 102);
$shadow-rgb2:2px 2px 8px 0 rgb(73, 72, 73), 4px 4px 16px 0 rgb(58, 56, 56), 0px 0px 24px 2px rgb(55, 60, 143);
$shadow-rgb3:2px 2px 8px 0 rgb(81, 16, 88), 4px 4px 16px 0 rgb(2, 1, 1), 0px 0px 24px 2px rgb(43, 12, 51);





